<div *ngIf="oDataService.isLoggedIn()"
     class="col-md-12">
    <article>
        <div *ngIf="oCourse">
            <h2>{{s('addto', w('student'), oCourse.getName())}}</h2>
            
            <div *ngIf="eStep == 1"><!-- overview -->
                <p>{{s('course_add', w('student', 2))}}</p>
                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>{{w('sName')}}</th>
                                <th>{{w('sNr')}}</th>
                                <th>{{w('sMail')}}</th>
                                <th>{{w('sNote')}}</th>
                                <th>{{w('status')}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let oStudentTemp of aStudentTemp">
                                <td><input [(ngModel)]="oStudentTemp.sName"
                                           (blur)="fillStatus(oStudentTemp)"
                                           (keyup)="onKeyEdit(oStudentTemp, $event)"
                                           type="text"
                                           class="form-control" /></td>
                                <td><input [(ngModel)]="oStudentTemp.sNr"
                                           (blur)="fillStatus(oStudentTemp)"
                                           (keyup)="onKeyEdit(oStudentTemp, $event)"
                                           type="text"
                                           class="form-control" /></td>
                                <td><input [(ngModel)]="oStudentTemp.sMail"
                                           (blur)="fillStatus(oStudentTemp)"
                                           (keyup)="onKeyEdit(oStudentTemp, $event)"
                                           type="text"
                                           class="form-control" /></td>
                                <td><input [(ngModel)]="oStudentTemp.sNote"
                                           (blur)="fillStatus(oStudentTemp)"
                                           (keyup)="onKeyEdit(oStudentTemp, $event)"
                                           type="text"
                                           class="form-control" /></td>
                                <td>
                                    <span *ngIf="oStudentTemp.eStatus == 1"
                                          class="text-info">{{s('addnew', w('student'))}}</span>
                                    <span *ngIf="oStudentTemp.eStatus == 2"
                                          class="text-success">{{s('addcopy', w('student'))}}</span>
                                    <a (click)="remove(oStudentTemp)"
                                       class="btn btn-danger btn-sm a pull-right"
                                       title="{{w('remove')}}"><i class="fa fa-times"></i></a>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td><input [(ngModel)]="oNew.sName"
                                           (keyup)="onKeyNew($event)"
                                           (paste)="onPasteNew('sName', $event.clipboardData.getData('text/plain'))"
                                           type="text"
                                           placeholder="{{w('sName')}}"
                                           class="form-control" /></td>
                                <td><input [(ngModel)]="oNew.sNr"
                                           (keyup)="onKeyNew($event)"
                                           (paste)="onPasteNew('sNr', $event.clipboardData.getData('text/plain'))"
                                           type="text"
                                           placeholder="{{w('sNr')}}"
                                           class="form-control" /></td>
                                <td><input [(ngModel)]="oNew.sMail"
                                           (keyup)="onKeyNew($event)"
                                           (paste)="onPasteNew('sMail', $event.clipboardData.getData('text/plain'))"
                                           type="text"
                                           placeholder="{{w('sMail')}}"
                                           class="form-control" /></td>
                                <td><input [(ngModel)]="oNew.sNote"
                                           (keyup)="onKeyNew($event)"
                                           type="text"
                                           placeholder="{{w('sNote')}}"
                                           class="form-control" /></td>
                                <td><a (click)="add()"
                                       class="btn btn-primary a">{{s('add', w('student'))}}</a></td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <p class="alert alert-info">{{w('course_add.multiple_equivalent')}}</p>
                <p>
                    {{s('course_add.file', w('student', 2))}}<br />
                    <label>
                        <input (change)="onUploadFile($event.srcElement.files)"
                               type="file" class="form-control-file" />
                    </label>
                </p>
                <p class="clearfix">
                    <a (click)="onClickValidate()"
                       class="pull-md-right btn btn-primary a">{{w('next')}}</a>
                    <a (click)="onClickBack()"
                       class="pull-md-right btn btn-default a">{{w('back')}}</a>
                </p>
            </div>
            
            <div *ngIf="eStep == 2"><!-- column choose within import -->
                <p>{{w('course_add.column_choose')}}</p>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>{{w('course_add.column_choose.field')}}</th>
                                <th>{{w('course_add.column_choose.column')}}</th>
                                <th>{{w('course_add.column_choose.example')}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>{{w('sName')}}</th>
                                <td>
                                    <select [(ngModel)]="oColumn.sName"
                                            class="form-control">
                                        <option *ngFor="let sOption of aColumn; let i = index"
                                                value="{{i}}">{{sOption}}</option>
                                    </select>
                                </td>
                                <td *ngIf="oColumn.sName == 0"><em>-</em></td>
                                <td *ngIf="oColumn.sName != 0">{{aDataTemp[0][oColumn.sName-1]}}</td>
                            </tr>
                            <tr>
                                <th>{{w('sNr')}}</th>
                                <td>
                                    <select [(ngModel)]="oColumn.sNr"
                                            class="form-control">
                                        <option *ngFor="let sOption of aColumn; let i = index"
                                                value="{{i}}">{{sOption}}</option>
                                    </select>
                                </td>
                                <td *ngIf="oColumn.sNr == 0"><em>-</em></td>
                                <td *ngIf="oColumn.sNr != 0">{{aDataTemp[0][oColumn.sNr-1]}}</td>
                            </tr>
                            <tr>
                                <th>{{w('sMail')}}</th>
                                <td>
                                    <select [(ngModel)]="oColumn.sMail"
                                            class="form-control">
                                        <option *ngFor="let sOption of aColumn; let i = index"
                                                value="{{i}}">{{sOption}}</option>
                                    </select>
                                </td>
                                <td *ngIf="oColumn.sMail == 0"><em>-</em></td>
                                <td *ngIf="oColumn.sMail != 0">{{aDataTemp[0][oColumn.sMail-1]}}</td>
                            </tr>
                            <tr>
                                <th>{{w('sNote')}}</th>
                                <td>
                                    <select [(ngModel)]="oColumn.sNote"
                                            class="form-control">
                                        <option *ngFor="let sOption of aColumn; let i = index"
                                                value="{{i}}">{{sOption}}</option>
                                    </select>
                                </td>
                                <td *ngIf="oColumn.sNote == 0"><em>-</em></td>
                                <td *ngIf="oColumn.sNote != 0">{{aDataTemp[0][oColumn.sNote-1]}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <p class="clearfix">
                    <a (click)="onSubmitColumnChoose()"
                       class="pull-md-right btn btn-primary a">{{w('save')}}</a>
                    <a (click)="onClickBack()"
                       class="pull-md-right btn btn-default a">{{w('abort')}}</a>
                </p>
            </div>
            
            <div *ngIf="eStep == 3"><!-- validate -->
                <p>{{s('course_add.validate', aStudentTemp.length, aDataTemp[0].length, aDataTemp[1].length, w('student', 2))}}</p>
                <h3 *ngIf="aDataTemp[0].length > 0">{{p('addnew', aDataTemp[0].length, w('student', aDataTemp[0].length))}}</h3>
                <ol *ngIf="aDataTemp[0].length > 0">
                    <li *ngFor="let sStudent of aDataTemp[0]">{{sStudent}}</li>
                </ol>
                <h3 *ngIf="aDataTemp[1].length > 0">{{p('addcopy', aDataTemp[1].length, w('student', aDataTemp[1].length))}}</h3>
                <ol *ngIf="aDataTemp[1].length > 0">
                    <li *ngFor="let sStudent of aDataTemp[1]">{{sStudent}}</li>
                </ol>
                <p class="clearfix">
                    <a (click)="onClickValidate(true)"
                       class="pull-md-right btn btn-primary a">{{w('next')}}</a>
                    <a (click)="onClickBack()"
                       class="pull-md-right btn btn-default a">{{w('back')}}</a>
                </p>
            </div>
            
            <div *ngIf="eStep == 4 || eStep == 5"><!-- add or error -->
                <p *ngIf="eStep == 4">{{w('wait')}}</p>
                <p *ngIf="eStep == 5">{{w('done')}}</p>
                <ul>
                    <li *ngIf="aDataTemp[0].length > 0">
                        {{p('addnew', aDataTemp[0].length, w('student', aDataTemp[1].length))}}: 
                        <strong>{{oProgress.create.toString()}}</strong>/{{aDataTemp[0].length}}
                    </li>
                    <li>
                        {{s('addto', w('student', aStudentTemp.length), w('course', 1))}}: 
                        <strong>{{oProgress.link.toString()}}</strong>/{{aStudentTemp.length}}
                    </li>
                    <li *ngIf="oProgress.error.length > 0">
                        <strong>{{w('error')}}</strong>
                        <ol>
                            <li *ngFor="let sError of oProgress.error">{{sError}}</li>
                        </ol>
                    </li>
                </ul>
                <p *ngIf="eStep == 5"
                   class="clearfix">
                    <a [routerLink]="['/app', 'course', oCourse.nId ]"
                       class="pull-md-right btn btn-default a">{{oCourse.getName()}}</a>
                </p>
            </div>
        </div>
    </article>
</div>