<div id="imprint_modal" class="modal" role="dialog" data-keyboard="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">
                    <abbr title="Student Performance Manager">Stuperman</abbr>
                </h4>
            </div>
            <div class="modal-body">
                <h5>{{w('imprint')}}</h5>
                <p>
                    Mario Haim (<a href="https://haim.it">haim.it</a>)
                </p>
                <p class="text-muted">
                    mario <i class="fa fa-at"></i> stuperman.org<br />
                    Gammelsdorfer Straße 6<br />
                    81671 München
                </p>
                
                <h5>{{w('imprintsecurity')}}</h5>
                <p [innerHtml]="w('imprintsecuritydesc') | markdown"></p>
                
                <h5>{{w('imprintcollection')}}</h5>
                <p [innerHtml]="w('imprintcollectiondesc') | markdown"></p>
                
                <h5>{{w('imprintmade')}}</h5>
                <p [innerHtml]="w('imprintmadedesc') | markdown"></p>
                
                <h5>{{w('imprintsrc')}}</h5>
                <p [innerHtml]="w('imprintsrcdesc') | markdown"></p>
            </div>
        </div>
    </div>
</div><a (click)="onClick()"
         [class.invisible]="bDoNotShowLink"
         class="a">{{w('imprint')}}</a>