<div *ngIf="oDataService.isLoggedIn()"
     class="col-md-9">
    <article *ngIf="aStudent.length == 0">
        <div class="row">
            <blockquote class="col-xs-7 text-xs-right blockquote blockquote-reverse m-t-3">
                <p>{{s('studentemptystart', w('student', 2), w('course'))}}</p>
            </blockquote>
            <img src="../img/stuperman.svg" class="offset-xs-1 col-xs-4 pull-xs-right" alt="Stuperman" />
        </div>
    </article>
    <article *ngIf="aStudent.length > 0">
        <h2>{{w('student', 2)}}</h2>
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>{{w('sName')}}</th>
                        <th>{{w('sNr')}}</th>
                        <th>{{w('sMail')}}</th>
                        <th>{{w('sNote')}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let oStudent of getStudents()">
                        <th (click)="onClickStudent(oStudent)"
                            class="a">{{oStudent.getName()}}</th>
                        <td (click)="onClickStudent(oStudent)"
                            class="a">{{oStudent.sNr}}</td>
                        <td>
                            <email-add [sTo]="'student:' + oStudent.nId.toString()"
                                       [sLink]="oStudent.sMail"></email-add>
                        </td>
                        <td (click)="onClickStudent(oStudent)"
                            class="a">{{oStudent.sNote}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </article>
</div>
<div *ngIf="oDataService.isLoggedIn()"
     class="col-md-3">
    <aside>
        <h6>{{w('quicklink')}}</h6>
        <grader-quicklink [aLink]="getStudentCourses()"
                          (onSelect)="onQuicklinkChange($event)"></grader-quicklink>
    </aside>
</div>